
{% extends "bootstrap/base.html" %}

{% block title %}OlegMazhanov{% endblock %}

{% include  "menu.html" %}

{% block body %}    


    

    {% block scripts %}
    {{ super() }}
    <script>var anekdot_count=1 </script>
    <div class="alert alert-success" role="alert">
        <div style="border: 1px solid #9999bb; background: #fbeecf; padding: 5px; max-width: 600px">
        <script src="https://www.anekdot.ru/rss/randomu.html" charset="utf-8"></script>
        </div>
    </div>
    <div class="alert alert-success" role="alert">
        <div style="border: 1px solid #9999bb; background: #fbeecf; padding: 5px; max-width: 600px">
        <script src="https://www.anekdot.ru/rss/randomu.html" charset="utf-8"></script>
        </div>
    </div>
  
    {% endblock %}

    

{% endblock %}
