
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% include "menu.html" %}

{% block content %}
<hr />
<div class="container" style="text-align: left;">
  <img
    width="256"
    alt="Flask Logo"
    src={{"/static/pocoo_flask-official.svg"}}
  />
  <table style="padding: 20px; margin: 20px;">
    <tr style="padding: 20px; margin: 20px;">
      <td style="width: 15%;">
        <h4>
          Contact:
        </h4>
      </td>
      <td style="width: 65%;">
        <h4>
          <a
            target="_blank"
            rel="noopener"
            href="https://www.linkedin.com/in/olegmazhanov/"
            >Linkdin profile
          </a>
        </h4>
      </td>
    </tr>
    <tr>
      <td style="width: 15%;">
        <h4>Platform:</h4>
      </td>
      <td style="width: 65%;">
        <h4>
          <a target="_blank" rel="noopener" href="https://flask.palletsprojects.com/en/2.1.x/#"
            >Flask framework. Learn more about it.</a
          >
        </h4>
      </td>
    </tr>
  </table>
  <hr />
  <p class="footermain">
    © Oleg Mazhanov 2022.
  </p>
</div>
{% endblock %}
