
{% extends "bootstrap/base.html" %}
{% block title %}OlegMazhanov{% endblock %}
{% include  "menu.html" %}

{% block content %}
   <div class="panel-primary ">
        <div class="container bg-info text-info ">
                {% for item in articles %}
                    <h3>{{ item['title'] }}</h3>
                    <p>{{ item['abstract'] }} </p>
                    <img src={{item['multimedia'][0]['url']}} class="img-thumbnail rounded" alt="..." />
                    <a href={{item['url']}} >  Read full article...</a>
                    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                {% endfor %}
        </div>
    </div>
{% endblock %}
