
{% extends "bootstrap/base.html" %}
{% block content %}
<div class="panel-primary ">
    <div class="container bg-info text-info ">
        <div class="row">
                {% for pic in photos %}
                <div class="col-xs-6 col-md-3">
                    <a href="/photofull/{{pic}}" class="thumbnail">
                <img src={{pic}} alt="..."  style="display: block;">
                    </a>
                </div>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

